/* 
    Document   : style
    Created on : 28.10.2012, 19:13:16
    Author     : Tutifruty Team
    Description:
        Purpose of the stylesheet follows.
*/


/*************** GRID CSS **************/

root { 
    display: block;
}

.grid_container {
	overflow:auto;
}

.grid_table {
	border-collapse: separate;
	border-spacing: 0px 0px;
	margin-left: 10px;
	font-size: small;
}

.grid_header {
	background-color: #cccccc;
}

.grid_header_cell {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.grid_header_cell_first {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

.grid_header_cell_last {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.grid_row {
	background-color: #fefefe;
}

.grid_cell {
	/*background-color: #E0F0FF;*/
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.grid_cell a {
	color: blue;
}

.grid_cell_first {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.grid_cell_first a {
	color: blue;
}

.grid_cell_last {
	border-bottom: 1px solid black;
	border-right:	1px solid black;
}

.grid_cell_last a {
	color: blue;
}

.grid_cell_editing { /* bunka v ktorej je textbox, combobox */
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.grid_cell_editing:first-child {
	border-left: 1px solid black;
}

.grid_form_elem { /* texbox, combobox */
	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.grid_row_btn_cell { /* vsetky bunky tabulky obsahujuce tlacitko-idne elementy */
	background-color: #ffffff;
}

.grid_row_btn_cell button { /* submit button */
	margin: 0;
	padding: 0;
	border: none;
}

.grid_row_btn_cell img { /* img na vsetkych tlacitko-idnych elementoch */
	margin-left: 10px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
}

/************** WEB DESIGN CSS **************/

/****** Telo ******/
body {
	/* background-color: #fecc78; */
	background-image: url(../img/papyrus.jpg); 
	background-attachment: fixed;
	background-position: center;
	background-size: 103% 108%;
	background-repeat: no-repeat;
	font-family: "Arial";
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

/****** Hlavicka ******/
#header {
	width: 960px;
	height: 338px;
	border-color: black;
	border-width: 4px;
	border-style: solid;
	border-bottom: none;
	margin: 25px auto 0px auto;
	border-top-right-radius: 50px;
	background-color: white;
	padding: 0;
}

#logo {
	height: 130px;
	width: 300px;
	margin: 0;
	float: left;
}

#logo #logo_position {
	height: 100px;
	width: 280px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	margin: 20px 0px 0px 30px; 	
}

#loginBar {
	height: 130px;
	width: 660px;
	float: left;
}

#login_table {
	float: right;
	margin: 10px 15px 0px 10px;
}

#login_table #login {
	font-size: 18px;
	font-family: "Arial";
	font-weight: bold;
}

#login_table .login_table_label {
	text-align: right;
	width: 50px;
}

#login_table .input {
	border: 2px solid black;
	border-radius: 55px;
	height: 20px;
	width: 150px;
	padding: 0px 10px;
}

.input:focus {
	outline: none;
}

#login_table .loginBtn {
	border: 1px solid black;
	border-radius: 5px;
	height: 25px;
	padding: 0px 10px;
	background-color:silver;
	font-weight: bold;
}

#login_table #registration {
	font-size: 15px;
	font-weight: bold;
	padding-left: 55px;
}

#login_table #registration a {
	text-decoration: none;
	color: Blue;
}

#logout_table {
	float: right;
	width: 250px;
	margin: 10px 15px 0px 40px;
}

#logout_table #logout_table_sign {
	font-size: 18px;
	font-weight: bold;
}

#logout_table #logout_table_name {
	font-size: 18px;
	font-weight: bolder;;
	padding-left: 50px;		
}

#logout_table #logout_table_name a {
	text-decoration: none;
	color: black;
}

#logout_table #logout_table_button {
	border: 1px solid black;
	background-color: #880d0d;
	border-radius: 35px;
	text-align: center;
	color: white;
	font-weight: bold;
}

#logout_table #logout_table_button a {
	text-decoration: none;
	font-size: 16px;
	color: white;
	display: block;
}

#panel {
	width: 960px;
	height: 128px;
	background-image: url(../img/panel.png);
	background-repeat: repeat-x;
	border-color: black;
	border-top: 2px solid;
	border-bottom: 2px solid;
	float: left;
}

#panel #left {
	width: 128px;
	height: 128px;
	float: left;
	background-image: url(../img/logo_uk.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
}

#panel #center {
	width: 704px; 
	height: 128px;
	float: left;
}

#panel #right {
	width: 128px;
	height: 128px;
	float: left;
	background-image: url(../img/logo_fmfi.png);
	background-repeat: no-repeat;
	background-position: center;	
}

#panel #center #headline {
	width: 704px;
	height: 98px;
	margin-top: 20px;
	margin-bottom: 25px;
}

#panel #center .headline1 {
	color: #fecc78;
	margin: 0px 20px 0px 28px;
	font-size: 35px;
	font-weight: bold;
}

#panel #center .headline2 {
	color: #fecc78;
	margin: 0px 20px 0px 28px;
	font-size: 20px; 
}

#navigation {
	width: 960px;
	float: left;
}

#main_navigation {
   background-image: url(images/linear_bg_2.png);
   background-repeat: repeat-x;
   background: -webkit-linear-gradient(top, black, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(top, black, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(top, black, #880d0d); /* IE 10 */
   background: -o-linear-gradient(top, black, #880d0d); /* Opera 11.10+ */
}

#secondary_navigation {
   height: 40px;
   background-image: url(images/linear_bg_2.png);
   background-repeat: repeat-x;
   background: -webkit-linear-gradient(top, #fecc78, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(top, #fecc78, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(top, #fecc78, #880d0d); /* IE 10 */
   background: -o-linear-gradient(top, #fecc78, #880d0d); /* Opera 11.10+ */
}

#navigation a {
	display: inline-block;
	margin: auto 0px;
	padding: 10px 25px 6px 25px;
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
}

#main_navigation a {
	color: #fecc78;
}

#secondary_navigation a {
	color: black;
	padding: 9px 25px 8px 25px;
}

#main_navigation a:hover {
	color: white;
	background: -webkit-linear-gradient(top, black, #880d0d, #fecc78); /* Safari 5.1+ ; Chrome 10+ */ 
   background: -moz-linear-gradient(top, black, #880d0d, #fecc78); /* Firefox 3.6+ */
   background: -ms-linear-gradient(top, black, #880d0d, #fecc78); /* IE 10 */
   background: -o-linear-gradient(top, black, #880d0d, #fecc78); /* Opera 11.10+ */
}

#main_navigation .selected {
	color: black;
	background: -webkit-linear-gradient(top, black, #fecc78, #fecc78); /* Safari 5.1+ ; Chrome 10+ */ 
   background: -moz-linear-gradient(top, black, #fecc78, #fecc78); /* Firefox 3.6+ */
   background: -ms-linear-gradient(top, black, #fecc78, #fecc78); /* IE 10 */
   background: -o-linear-gradient(top, black, #fecc78, #fecc78); /* Opera 11.10+ */	
}

#secondary_navigation a:hover {
	color: #fecc78;
}

#secondary_navigation .selected {
	color: white;
	font-weight: bolder;
	text-decoration: underline;
}



/****** Obsah ******/
#content {
	clear: both;
	overflow-x: hidden;
	width: 960px;
	height: auto;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-top: none;
	border-bottom: none;
	margin: -19px auto -19px auto;
	background-color: white;
}

.content_title {
	margin: 15px 50px -25px 50px;
	font-size: 25px;
	font-weight: bold;
}

#content_wrapper_small {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;
	margin-top: 25px;
	padding: 15px;
	-moz-box-shadow: 5px 5px 20px 10px #2e2e2e;
	-webkit-box-shadow: 5px 5px 20px 10px #2e2e2e;
	box-shadow: 5px 5px 20px 10px #2e2e2e;	 
}

#content_wrapper_medium {
	width: 670px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;
	margin-top: 25px;
	padding: 15px 30px 15px 30px;
	-moz-box-shadow: 5px 5px 20px 10px #2e2e2e;
	-webkit-box-shadow: 5px 5px 20px 10px #2e2e2e;
	box-shadow: 5px 5px 20px 10px #2e2e2e;	 
}

#content_wrapper_large {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;
	margin-top: 25px;
	padding: 15px 30px 15px 30px;
	-moz-box-shadow: 5px 5px 20px 10px #2e2e2e;
	-webkit-box-shadow: 5px 5px 20px 10px #2e2e2e;
	box-shadow: 5px 5px 20px 10px #2e2e2e;	 
}

#grid_wrapper {
	min-width: 150px;
	max-width: 850px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;
	margin-top: 25px;
	padding: 25px 10px 25px 10px;
	-moz-box-shadow: 5px 5px 20px 10px #2e2e2e;
	-webkit-box-shadow: 5px 5px 20px 10px #2e2e2e;
	box-shadow: 5px 5px 20px 10px #2e2e2e;	 
}

/** Vstupne udaje **/
.inputitem {
	margin: 10px 15px 2px 15px;
}

label.error {
	color: #e21313;
}

.input_data.error, .input_data_date.error {
	border-top: solid 3px #e21313;
	border-left: solid 3px #e21313;
	border-bottom: solid 2px #e21313;
	border-right: solid 2px #e21313;
}

.label {	
	font-weight: bold;
	margin: 0px;
}

.input_data {
	width: 250px;
	height: 20px;
	border-radius: 5px;
	padding: 0px 10px;
	font-size: 15px;
	border-top: solid 3px #2e2e2e;
	border-left: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 2px gray;
}

.dropdown {
	width: 275px;
	height: 25px;
	font-size: 15px;
	border-top: solid 3px #2e2e2e;
	border-left: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 1px gray;	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	padding-left: 5px;
}

.dropdown_priority {
	width: 190px;
	height: 25px;
	font-size: 15px;
	border-top: solid 3px #2e2e2e;
	border-left: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 1px gray;	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	padding-left: 10px;	
}

.input_data_date {
	width: 100px;
	height: 20px;
	border-radius: 5px;
	padding: 0px 10px;
	font-size: 15px;
	border-top: solid 3px #2e2e2e;
	border-left: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 2px gray;	
}

.input_data_time {
	width: 50px;
	height: 20px;
	border-radius: 5px;
	padding: 0px 10px;
	font-size: 15px;
	border-top: solid 3px #2e2e2e;
	border-left: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 2px gray;
}

.input_data_date_time {
	width: 165px;
	height: 20px;
	border-radius: 5px;
	padding: 0px 10px;
	font-size: 15px;
	border-top: solid 3px #2e2e2e;
	border-left: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 2px gray;
}

.input_data_reg {
	border: solid 1px black;
	height: 20px;
	border-radius: 7px;
	padding: 0px 10px;
	text-align: center;
	border-top: solid 2px #2e2e2e;
	border-left: solid 2px #2e2e2e;
	border-bottom: solid 1px gray;
	border-right: solid 1px gray;
}

.textarea_data {
	min-width: 540px;
	max-width: 540px;
	min-height: 225px;
	max-height: 225px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	border-left: solid 3px #2e2e2e;
	border-top: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 2px gray;
}

.textarea_data2 {
	min-width: 790px;
	max-width: 790px;
	min-height: 500px;
	max-height: 500px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	border-left: solid 3px #2e2e2e;
	border-top: solid 3px #2e2e2e;
	border-bottom: solid 2px gray;
	border-right: solid 2px gray;
}

.separator {
	width: 570px;
	border-top: 2px dashed black;
	margin: 0px 15px 15px 5px;
}

/** Tlacidla **/
.button_submit {
	min-width: 170px;
	max-width: 235px;
	height: 35px;
	margin: 0px 5px;
	padding: 0px 15px;
	border-radius: 25px;
	border: 2px solid black;
	font-size: 18px;
	background-color: silver;
	margin-bottom: 15px;	
}

.button_submit:hover {
	background-color: #880d0d;
   background-image: url(images/linear_bg_2.png);
   background-repeat: repeat-x;
   background: -webkit-linear-gradient(top, #880d0d, #fecc78, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(top, #880d0d, #fecc78, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(top, #880d0d, #fecc78, #880d0d); /* IE 10 */
   background: -o-linear-gradient(top, #880d0d, #fecc78, #880d0d); /* Opera 11.10+ */	background-color: grey;
}

.button_add {
	width: 120px;
	height: 22px;
	border: 2px solid black;
	background-color: silver;
	text-align: center;
	border-radius: 10px;
	margin: 5px 5px;
	padding-top: 3px;
}

.button_edit, .button_delete {
	min-width: 120px;
	max-width: 225px;
	height: 22px;
	display: inline-block;
	border: 2px solid black;
	background-color: silver;
	text-align: center;
	border-radius: 10px;
	margin: 5px 5px;
	padding: 0px 10px;
}

.button_close {
	width: 120px;
	height: 22px;
	display: inline-block;
	border: 2px solid black;
	background-color: silver;
	text-align: center;
	border-radius: 10px;
	margin: 5px 5px;
	padding: 0px 10px;
}

.button_back {
	width: 150px;
	height: 22px;
	display: inline-block;
	border: 2px solid black;
	background-color: silver;
	text-align: center;
	border-radius: 10px;
	margin: 5px 5px;
	padding: 0px 10px;
}

.button_add:hover {
	background-color: #fecc78;
	background-image: url(images/linear_bg_1.png);
	background-repeat: repeat-y;
	background: -webkit-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* IE 10 */
   background: -o-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Opera 11.10+ */		
}

/** Odkazy **/
.link_button a {
	display: block;
	width: 150px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 5px;
	text-decoration: none;
	text-align: center;
	border: 2px solid black;
	border-radius: 25px;
	background-color: silver;
	color: black;
	padding: 2px 0px;
}

.link_text a {
	text-decoration: none;
	color: blue;
}

.link_text a:hover {
	text-decoration: underline;
}

.grid_link_text a{
	text-decoration: none;
	color: black;
}

.post_title a {
	text-decoration: none;
	font-weight: bolder;
	color: blue;
}

.grid_link_text a:hover, .post_title a:hover {
	text-decoration: underline;
	font-weight: bolder;
	color: blue;
}

.grid_link_text li {
	height: 20px;
	list-style: none;
}

.grid_link_text ul {
	margin-top: 0px;
}

.grid_label {
	font-weight: bolder;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.button_edit a {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 16px;
	font-weight: bolder;
	padding: 2px 0px;
}

.button_delete a {
	text-decoration: none;
	color: #bf0000;
	display: block;
	font-size: 16px;
	font-weight: bolder;
	padding: 2px 0px;
}

.button_close a {
	font-size: 16px;
	font-weight: bolder;
	color: red;
}

.button_back a {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 16px;
	font-weight: bolder;
	padding: 2px 0px;
}

.link_button a:hover {
	background-color: #fecc78;
	background-image: url(images/linear_bg_1.png);
	background-repeat: repeat-y;
	background: -webkit-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* IE 10 */
   background: -o-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Opera 11.10+ */	
}

.button_edit a:hover, .button_delete a:hover, .button_back a:hover {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px -10px;
	height: 18px;
	border-radius: 8px;
	background-color: #fecc78;
	background-image: url(images/linear_bg_1.png);
	background-repeat: repeat-y;
	background: -webkit-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* IE 10 */
   background: -o-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Opera 11.10+ */	
}


/****** Paticka ******/
#footer {
	/*clear: both;*/
	width: 960px;
	height: 55px;
	color: white;
	background-color: #880d0d;
   background-image: url(images/linear_bg_2.png);
   background-repeat: repeat-x;
   background: -webkit-linear-gradient(top, #880d0d, black); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(top, #880d0d, black); /* Firefox 3.6+ */
   background: -ms-linear-gradient(top, #880d0d, black); /* IE 10 */
   background: -o-linear-gradient(top, #880d0d, black); /* Opera 11.10+ */
  	border-color: black;
	border-width: 4px;
	border-style: solid;
	border-top-width: 2px; 
	border-bottom-left-radius: 50px;
	text-align: right;
	margin: 0px auto 25px auto;
}

.copyright {
	margin-right: 50px;
}


/****** Event detail view ******/
.event_category {
	margin: 5px 0px;
	font-weight: bolder;
	font-size: 18px;	
}

.event_title {
	margin: 5px 0px 5px 10px;
	font-size: 22px;
}

.event_body, .event_time, .event_priority, .event_add_info {
	margin: 5px 0px 5px 10px;
}

.event_label {
	font-size: 18px;
	font-weight: bolder;
}

/****** Project detail view, Post detail view, Post view, Project catagory detail,
User detail view ******/
.project_name, .user_rank {
	margin: 5px 0px;
	font-weight: bolder;
	font-size: 18px;
	color: blue;
}

.project_about, .project_priority, .project_booked_cash, .post_modifie_info,
.post_content, .post_add_info, .post_modifie_info,
.project_category_cash, .project_category_labels {
	margin: 5px 0px 5px 10px;	
}

.project_label, .post_label, .post_created_by, .post_last_update, .post_added_by,
.project_category_label, .user_detail_label {
	margin: 5px 0px;
	font-size: 18px;
	font-weight: bolder;
	color: black;
}

.cash_from, .cash_remain {
	font-weight: bolder;
	color: green;
}

.cash_to, .cash_spend {
	font-weight: bolder;
	color: red;
}

/****** Message graphic ******/
#confirm_message {

}

.set_image {
	height: 48px;
	margin-left: 10px;
}

.set_title {

}

.set_text {
	margin-left: 10px;
}

.yes_no_buttons {
	display: inline-block;
	height: 25px;
	width: 120px;
	padding: 2px 0px;
	border-radius: 10px;
	margin: 15px 5px 10px 5px;
	background-color: silver;
	border: solid 2px black;
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
	font-weight: bolder;
}

.yes_no_buttons:hover {
	background-color: #fecc78;
	background-image: url(images/linear_bg_1.png);
	background-repeat: repeat-y;
	background: -webkit-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Safari 5.1+ ; Chrome 10+ */
   background: -moz-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Firefox 3.6+ */
   background: -ms-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* IE 10 */
   background: -o-linear-gradient(left, #fecc78, #fecc78, #880d0d); /* Opera 11.10+ */	
}


/****** Rusenie zltych ramikov v Google CHROME ******/
.input_data:focus, .input_data_date:focus, .input_data_time:focus, .input_data_reg:focus,
.textarea_data:focus, .input_data_date_time {
	outline: none;
}

/****** Page Rules (Stanovy) ******/
.page_rules_title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #880d0d;	
}

.page_rules_sec_title {
	font-weight: bold;	
}

.page_rules {
	margin-top: 2px;
	margin-bottom: 2px;
}

/****** Auth view ******/
.auth_view_column {
	width: 315px;
	margin: 10px 10px 25px 10px;
	display: inline-block;
	vertical-align: top;
}

.auth_view_title {
	color: #880d0d;
	font-weight: bolder;
	font-size: 20px;
}

.post, .event {
	float: left;
	width: 315px;
	height: 80px;
	overflow: hidden;
	margin-top: 15px;
}

.separation {
	border-bottom: dashed 1px black;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 12px;
}

.auth_view_link a {
	text-decoration: none;
	color: blue;
	font-weight: bold;	
}

.auth_view_link a:hover {
	text-decoration: underline;	
}